<form>
  <mat-form-field>
    <input matInput placeholder="I hold log text" [(ngModel)]="logText" name="logText">
    <button mat-button *ngIf="logText" matSuffix mat-icon-button aria-label="Clear" (click)="logText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Log level" [(ngModel)]="logLevel" name="logLevel">
      <mat-option *ngFor="let level of levels" [value]="level.value">
        {{level.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngIf='logText && logLevel' matSuffix mat-icon-button aria-label="Send" (click)="sendMessage(logText, logLevel)">
    <mat-icon>send</mat-icon>
  </button>
</form>
