@import "../../variables.scss";
:host {
    justify-content: space-around;
    .login-input {
        justify-content: space-around;
    }
    .login-form {
        width: 80%;
        background-color: $maCouleur;
    }
}