<mat-grid-list cols="3" rowHeight="350px">
  <mat-grid-tile *ngFor="let recipe of recipes">
    <mat-card class="recipe-card">
      <mat-card-header>
        <mat-card-title>{{recipe.name}}</mat-card-title>
      </mat-card-header>
      <div fxLayout="row" style="justify-content: space-between;">
        <div fxFlex="60%">
          <img class="card-image" src={{recipe.image}} alt={{recipe.name}}>
        </div>
        <div fxFlex="40%">
          <mat-list class="ingredient-list" role="list">
            <mat-list-item class="ingredient-list-item" *ngFor="let ingredient of recipe.ingredients" role="listitem">
              <span>{{ingredient.name}}</span>
              <span class="float-right">{{ingredient.quantity}}{{ingredient.unit}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button (click)="getRecipe(recipe.id)">Details</button>
        <button mat-icon-button color="warn" (click)="deleteRecipe(recipe.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>