.father {
    transform-style: preserve-3d;
    transition: all .6s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
}

.father .front {
    position: absolute !important;
    z-index: 2;
    backface-visibility: hidden;
}

.father .back {
    position: absolute !important;
    transform: rotateY(180deg);
    z-index: 1;
    backface-visibility: hidden;
}

.flipOnHover:hover {
    transform: rotateY(180deg);
}

.add-tile {
    width: 450px;
    height: 560px;
}

.flipped {
    transform: rotateY(180deg);
}