<form>
  <mat-card-header>
    <mat-card-title class="no-margin-bottom">Nouvelle recette...</mat-card-title>
  </mat-card-header>
  <mat-card-content class="no-margin-bottom">
    <div class="recipe-input-wrapper" fxLayout="row">
      <mat-form-field class="recipe-input">
        <input matInput placeholder="Nom..." type="text" [formControl]="recipe" [(ngModel)]="recipeName || data.recipeName" name="recipeName">
        <button mat-button *ngIf="recipeName || data.recipeName" matSuffix mat-icon-button aria-label="Clear" (click)="recipeName='' || data.recipeName=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="recipe.invalid">{{getRecipeErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="recipe-input-wrapper" fxLayout="row">
      <mat-form-field class="recipe-input">
        <textarea matInput placeholder="Description..." type="text" [(ngModel)]="recipeDescription || data.recipeDescription" name="recipeDescription"></textarea>
        <button mat-button *ngIf="recipeDescription || data.recipeDescription" matSuffix mat-icon-button aria-label="Clear" (click)="recipeDescription='' || data.recipeDescription=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="space-around" fxLayout="row">
      <td-file-upload class="upload-button" #singleFileUpload name="recipeImage" [(ngModel)]="files" (select)="selectEvent($event)"
        (cancel)="cancelEvent()" [disabled]="disabled" required>
        <span>{{ singleFileUpload.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Choose an image...
          </span>
        </ng-template>
      </td-file-upload>
      <div *ngIf="imagePreview" class="image-wrapper" fxFlex="30%">
        <img [src]="imagePreview">
      </div>
    </div>
    <div class="space-around" fxLayout="row">

    </div>
    <div class="space-between" fxLayout="row">
      <div fxFlex="40%">
        <form>
          <div fxLayout="row" style="justify-content: space-between;">
            <mat-form-field fxFlex="60%">
              <input matInput placeholder="Ingrédient..." type="text" [formControl]="ingredient" [(ngModel)]="ingredientName" name="ingredientName">
              <button mat-button *ngIf="ingredientName" matSuffix mat-icon-button aria-label="Clear" (click)="ingredientName=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="ingredient.invalid">{{getIngredientErrorMessage()}}</mat-error>
            </mat-form-field>
            <div fxFlex="30%">
              <button style="float: right;" mat-button *ngIf='ingredientName && ingredientQuantity && ingredientUnit' mat-icon-button aria-label="Send"
                (click)="addIngredient(ingredientName, ingredientQuantity, ingredientUnit)">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
          <div fxLayout="row" style="justify-content: space-between;">
            <mat-form-field fxFlex="60%">
              <input matInput placeholder="Quantitée..." type="number" min="0" [formControl]="quantity" [(ngModel)]="ingredientQuantity"
                name="ingredientQuantity">
              <button mat-button *ngIf="ingredientQuantity" matSuffix mat-icon-button aria-label="Clear" (click)="ingredientQuantity=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="quantity.invalid">{{getQuantityErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-select placeholder="Unitée" [(ngModel)]="ingredientUnit" name="ingredientUnit">
                <mat-option *ngFor="let unit of units" [value]="unit.value">
                  {{unit.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="space-between" fxFlex="60%">
        <mat-list role="list">
          <div *ngFor="let ingredient of ingredients; let i = index" fxLayout="row" class="space-around">
            <mat-list-item role="listitem">
              <span>{{ingredient.name}}</span>
              <span class="margin-left-5">{{ingredient.quantity}}</span>
              <span class="margin-left-5">{{ingredient.unit}}</span>
            </mat-list-item>
            <div>
              <button mat-icon-button color="accent" (click)="openDialog(i, ingredient.name, ingredient.quantity, ingredient.unit)">
                <mat-icon aria-label="Edit">create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteIngredient(i)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="no-margin-bottom">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button *ngIf='recipeName || data.recipeName' class="float-right" mat-button mat-icon-button (click)="data.action === 'edit' ? editRecipe(data.recipeId, data.recipeName, data.recipeDescription ) : addRecipe(recipeName || data.recipeName, recipeDescription || data.recipeDescription)">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</form>