<mat-toolbar color="primary" class="top-menu">
  <button mat-mini-fab (click)="sidenav.toggle()">
    <mat-icon aria-label="Show sidebar menu">more_vert</mat-icon>
  </button>
  <span fxFlex></span>
  <a mat-button routerLink="/home">
    <h1>Angular + Material + Covalent Boilerplate</h1>
  </a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="main-sidebar" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home"> Home </a>
      <a mat-list-item routerLink="/refrigerator"> Frigo </a>
      <a mat-list-item routerLink="/logs"> Logs </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>