.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  .logout-button {
    zoom: 75%;
  }
}

.main-container {
  min-height: 800px;
  padding: 20px;
  padding-top: 84px;
  background: #E4E4E4;
}

.main-sidebar {
  position: fixed;
  min-width: 160px;
  padding-top: 64px;
}