<div *ngIf="recipe" fxLayout="row">
  <mat-card fxFlex="100%">
    <div fxLayout="row" class="space-between">
      <h1>{{recipe.name}}</h1>
      <div>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="Edit" (click)="openDialog()">create</mat-icon>
        </button>
      </div>
    </div>
    <div fxLayout="row" class="space-around">
      <div class="image-wrapper" fxFlex="40%">
        <img [src]="recipe.image">
      </div>
      <div fxFlex="50%">
        <div fxFlex="100%">
          <div fxLayout="row">
            <span>Description:</span>
          </div>
          <div fxLayout="row">
            <p>{{recipe.description}}</p>
          </div>
          <div fxLayout="row">
            <span>Ingrédients:</span>
          </div>
          <div fxLayout="row">
            <mat-list role="list">
              <mat-list-item *ngFor="let ingredient of recipe.ingredients" role="listitem">
                <span>{{ingredient.name}}</span>
                <span class="float-right">{{ingredient.quantity}}{{ingredient.unit}}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="flex-end">
      <div>
        <button mat-raised-button color="primary">Cook !</button>
      </div>
    </div>
  </mat-card>
</div>