.image-wrapper {
    border: 2px solid black;
    position: relative;
    background: white;
    img {
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
        opacity: 1;
        width: 100%;
    }
}