<mat-card>
  <app-listings-generator (onListingAdded)="addListing($event)" [listings]="listings" (onGetListing)="getListing($event)" (onGetMainListing)="getMainListing()"></app-listings-generator>
</mat-card>
<div fxLayout="row">
  <mat-card class="listings-editor" fxFlex="30%">
    <app-listings-editor (onIngredientAddedToListing)="addIngredientToListing($event)" [listing]="listing"></app-listings-editor>
  </mat-card>
  <mat-card fxFlex="70%">
    <app-listings-list (onGetMainListing)="getMainListing()" (onIngredientDeletedFromListing)="deleteIngredientFromListing($event)"
      [listing]="listing"></app-listings-list>
  </mat-card>
</div>