<div fxLayout="row">
  <mat-card fxFlex="66%" [style.background-color]="color || 'orange'">

    <div>
      {{variable}}
    </div>
    <form>
      <mat-form-field>
        <input matInput placeholder="I hold text" [(ngModel)]="variable" name="inputName">
        <button mat-button *ngIf="variable" matSuffix mat-icon-button aria-label="Clear" (click)="variable=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="I hold color" [(ngModel)]="color" name="inputName">
        <button mat-button *ngIf="color" matSuffix mat-icon-button aria-label="Clear" (click)="color=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </form>
    <p>
      Find the Material Icon List
      <a href="https://material.io/icons/" target="_blank">here</a>.
    </p>
  </mat-card>
  <mat-card fxFlex="34%" style="background-color: lightgray;">
    <p>
      Learn about Angular Flex Layout
      <a href="https://github.com/angular/flex-layout/wiki" target="_blank">here</a>.
    </p>
  </mat-card>
</div>
<div fxLayout="row">
  <mat-card fxFlex="100%" style="background-color:darkcyan">
    <p>Select Event: {{fileSelectMsg}}</p>
    <p>Upload Event: {{fileUploadMsg}}</p>
    <td-file-upload #singleFileUpload [(ngModel)]="files" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()"
      [disabled]="disabled" required>
      <mat-icon>file_upload</mat-icon>
      <span>{{ singleFileUpload.value?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon>
        <span>
          Choose a file...
        </span>
      </ng-template>
    </td-file-upload>
    <button mat-button color="primary" (click)="toggleDisabled()">Toggle Disable</button>
  </mat-card>
</div>

<div fxLayout="row">
  <mat-card fxFlex="100%" style="background-color: lightgrey">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title">PaginatedDataTable example</span>
        <span *ngIf="selectedRows.length && selectable" class="md-body-1">0 item(s) selected</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
        flex>
      </td-search-box>
    </div>
    <mat-divider></mat-divider>
    <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="true" [clickable]="clickable" [multiple]="true"
      [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)" (rowClick)="showAlert($event)"
      [style.height.px]="400">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      {{pagingBar.range}}
      <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </mat-card>
</div>
