<form>
  <div fxLayout="row" style="justify-content: space-between;">
    <mat-form-field fxFlex="60%">
      <input matInput placeholder="Ingrédient..." [(ngModel)]="ingredientName" name="ingredientName">
      <button mat-button *ngIf="ingredientName" matSuffix mat-icon-button aria-label="Clear" (click)="ingredientName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div fxFlex="30%">
      <button style="float: right;" mat-button *ngIf='ingredientName && ingredientQuantity && ingredientUnit' matSuffix mat-icon-button
        aria-label="Send" (click)="addIngredient(ingredientName, ingredientQuantity, ingredientUnit)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" style="justify-content: space-between;">
    <mat-form-field fxFlex="60%">
      <input matInput placeholder="Quantitée..." [(ngModel)]="ingredientQuantity" name="ingredientQuantity">
      <button mat-button *ngIf="ingredientQuantity" matSuffix mat-icon-button aria-label="Clear" (click)="ingredientQuantity=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field fxFlex="30%">
      <mat-select placeholder="Unitée" [(ngModel)]="ingredientUnit" name="ingredientUnit">
        <mat-option *ngFor="let unit of units" [value]="unit.value">
          {{unit.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>